@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #f2f2f2;
}

body {
    background: linear-gradient(#9966ff, #ff9966) fixed
}

.card {
    width: 90%;
    max-width: 475px;
    background: linear-gradient(135deg, #26013D, #742d97);
    margin: 6rem auto 0;
    border-radius: 20px;
<<<<<<< HEAD
    padding: 2em;
=======
    padding: 3rem 2.5rem;
>>>>>>> b71c6ac0dd531bf9b2170f18dc298916a44dec21
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 1em 2em;
    height: 4rem;
    border-radius: 25px;
    flex: 1;
    margin-right: 1rem;
    font-size: 1.1rem;
}

.search button {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    width: 4.2rem;
    height: 4.2rem;
    cursor: pointer;

}
.search button img{
    width: 1.3rem;
}
.weatherIcon{
    width: 10rem;
    margin-top: 2.8rem;
}
.temp {
    font-size: 5rem ;
    font-weight: 500;
}
.weather h2 {
    font-size: 3rem;
    font-weight: 400;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.3rem;
    margin-top: 3rem;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 3rem;
    margin-right: 0.6rem;
}
.humidity, .wind{
    font-size: 1.8rem;
    margin-top: -0.4rem;
}
#result p{
    text-align: left;
    margin-top: 0.9rem;
    font-size: 1.8rem;
    color: crimson;
}
